* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

body {
    font-family: 'Roboto', sans-serif;
}

.header-wrapper {
    display: flex;
    background-color: #4a1c49;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: auto;
    padding: 80px;
}

.title {
    font-size: 60px;
    color: #E84F30;
    text-shadow: 2px 4px 5px;
}

.logo-title {
    width: 800px;
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo {
    width: 80px;
}

.alert {
    display: none;
}

#productForm {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    right: 0%;
    text-align: center;
    margin: 0% auto;
    background: #E84F30;
    padding: 30px;
    width: 500px;
    border-radius: 5px;
    margin-top: 20px;
    gap: 5px;
}

#productForm2 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    right: 0%;
    text-align: center;
    margin: 0% auto;
    background: #E84F30;
    padding: 30px;
    width: 500px;
    border-radius: 5px;
    margin-top: 20px;
}

.button-form {
    margin-top: 15px;
}

label {
    font-size: 25px;
    font-weight: 700;
    color: #4a1c49;
}

.input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.cardProduct {
    background-color: #e8c4e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 480px;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}



.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    padding: 10px 0;
}

.name {
    font-size: 20px;
    font-weight: 500px;

    color: #72230b;
}

.price {
    font-size: 20px;
    font-weight: 500px;

    color: green;
}

.description {
    font-size: 20px;
    font-weight: 500px;

    color: #72230b;
    font-style: italic;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
    gap: 5px;
}

.cardImg {
    width: 250px;
    border-radius: 5px;
}

.content {
    padding: 50px 100px;
    background-color: #f4e1f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    gap: 10px;
}

.btn-add-product {
    width: 250px;
    padding: 15px;
    color: #4a1c49;
    border-radius: 20px;
    margin: 5px 0;
    border-color: #f5b3a6;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0 0 40px 40px #f5b3a6 inset, 0 0 0 0 #f5b3a6;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.btn-add-product:hover {
    box-shadow: 0 0 10px 0 #E84F30 inset, 0 0 10px 4px #E84F30;
    cursor: pointer;

} 

.updateButton {
    width: 85%;
    padding: 10px;
    background-color: #f5b3a6;
    color: #72230b;
    border-radius: 10px;
    border: none;

    font-size: 15px;
    font-weight: 700;
}

.updateButton:hover {
    background-color: #f7a696;
    transition: .5s;

    cursor: pointer;
}


.deleteButton {
    width: 85%;
    padding: 10px;
    background-color: #f5b3a6;
    color: #72230b;
    border-radius: 10px;
    border: none;

    font-size: 15px;
    font-weight: 700;    
}

.deleteButton:hover {
    background-color: #f7a696;
    transition: .5s;

    cursor: pointer;
}

footer {
    background-color: #4a1c49;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    
    padding: 80px 80px 40px 80px;
    gap: 30px;
}

.footer-info {
    display: flex;
    align-items: center;
}

.integrantes ul li {
    list-style: none;
    margin-top: 5px;
}

.integrantes a {
    color: #ffffffff;
    text-decoration: none;
}


/* Estilo base para dispositivos móviles */
  /* Estilo para dispositivos móviles con pantalla pequeña */
  @media (max-width: 480px){
    .header-wrapper {
        padding: 60px;
    }
    
    .title {
        display: none;
    }
    
    .logo {
        width: 80px;
        margin: 0 auto;    
    }

    .btn-add-product {
        width: 350px;
        font-size: 10px;
    }

    footer {
        font-size: 12px;
        
        padding: 60px 60px 20px 60px;
        gap: 30px;
    }
    
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  }
  
  /* Estilo para dispositivos móviles con pantalla mediana */
  @media (min-width: 480px) and (max-width: 768px) {
     .header-wrapper {
        padding: 70px;
    }
    
    .title {
        display: none;
    }
    
    .logo {
        margin: 0 auto;
        width: 80px;    
    }

    .btn-add-product {
        width: 400px;
        font-size: 15px;
    }

    footer {
        font-size: 12px;
        
        padding: 60px 60px 20px 60px;
        gap: 30px;
    }
    
    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
  }
  
  
